@model BlueModasWeb.UI.Web.ViewModel.Pedido.PedidoViewModel
@{ Layout = null;}

<div class="col-lg-12">
    <div class="mb-3">
        <div class="pt-4">
            <h5>Obrigado <span>@Model.Cliente.Nome</span> por comprar com a gente!</h5>
            <h5 class="mb-3">Aqui estão os detalhes da sua compra: </h5>
            <div class="card pb-1 mb-3">
                <div class="card-body">
                    <h5 class="mb-2">Dados da compra</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Código: @Model.PedidoCodigo</h6>
                        </div>
                        <div class="col-md-12">
                            <h6>Valor total: R$ @Model.ValorTotal</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card pb-1 mb-3">
                <div class="card-body">
                    <h5 class="mb-2">Seus dados</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Nome: @Model.Cliente.Nome</h6>
                        </div>
                        <div class="col-md-12">
                            <h6>Sobrenome: @Model.Cliente.SobreNome</h6>
                        </div>
                        <div class="col-md-12">
                            <h6>Email: @Model.Cliente.Email</h6>
                        </div>
                        <div class="col-md-12">
                            <h6>Telefone: @Model.Cliente.Telefone</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card pb-1">
                <div class="card-body">
                    <h5 class="mb-2">Seus produtos</h5>
                    @foreach (var item in Model.PedidoItens)
                    {
                        <div class="row mb-4">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div class="mb-3 mb-md-0">
                                    <img class="img-fluid w-100"
                                         src="@item.Produto.UrlImagem">
                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <h5>@item.Produto.Nome</h5>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="mb-0">
                                            <span>
                                                <strong>R$ @item.Produto.ValorUnitario.ToString("N2")</strong>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                    }
                </div>
            </div>
        </div>
    </div>
</div>